<nav class="destinations-nav">
    <ul>
        <li class="crew-option"><a href="/crew"></a></li>
        <li class="crew-option"><a href=""></a></li>
        <li class="crew-option"><a href=""></a></li>
        <li class="crew-option"><a href=""></a></li>
    </ul>
</nav>