<nav class="destinations-nav">
    <ul class="crew-ul">
        <li class="crew-option"><a href="/crew" class="fix">lii</a></li>
        <li class="crew-option"><a href="/crew/crew-specialist" class="fix">lii</a></li>
        <li class="crew-option"><a href="/crew/crew-pilot" class="fix">lii</a></li>
        <li class="crew-option"><a href="/crew/crew-engineer" class="fix">lii</a></li>
    </ul>
</nav>