<nav class="destinations-nav">
    <ul>
        <li class="destination-option"><a href="/destination">Moon</a></li>
        <li class="destination-option"><a href="/destination/destination-mars">Mars</a></li>
        <li class="destination-option"><a href="">Europa</a></li>
        <li class="destination-option"><a href="">Titan</a></li>
    </ul>
</nav>