<nav class="destinations-nav">
    <ul>
        <li class="destination-option"><a href="/destination">Moon</a></li>
        <li class="destination-option"><a href="/destination/destination-mars">Mars</a></li>
        <li class="destination-option"><a href="/destination/destination-europa">Europa</a></li>
        <li class="destination-option"><a href="/destination/destination-titan">Titan</a></li>
    </ul>
</nav>