<div class="main-header">
  <div class="logo">
    <a href="/">
      <img src="/images/shared/logo.svg" alt="Space Tourism Logo">
    </a>
  </div>
  <nav class="main-nav">
    <ul>
      <hr class="header-line">
      <li><a href="/"><span class="nav-number">00</span> Home</a></li>
      <li><a href="/destination"><span class="nav-number">01</span> Destination</a></li>
      <li><a href="/crew"><span class="nav-number">02</span> Crew</a></li>
      <li><a href="/technology"><span class="nav-number">03</span> Technology</a></li>
    </ul>
  </nav>
</div>
