<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="<%= backgroundClass %>">
  <%- include('partials/header') %>

  <main>
    <%- body %> <!-- Aqui entra o conteúdo da página -->
  </main>
</body>
</html>
